			<div class="footer">

				<h2>{{ site.title }}</h2>
	
				<p class="credits"><strong>&copy; 2014</strong> | Site coded and maintained by Octopus in Vitro.</p>
				<p class="credits">Design by <a href="http://andreasviklund.com/">A. Viklund</a> | Font <a href="http://www.huertatipografica.com/fonts/alegreya-sans-ht">Alegreya Sans</a> by <a href="http://www.huertatipografica.com/">Huerta Tipogr&aacute;fica</a> | <a href="http://prismjs.com">Prism</a> Syntax Highlighter by <a href="http://lea.verou.me">L. Verou</a>.</p>

				<span class="credits">
					Find the code at
{% include github.svg %} <a href="https://github.com/{{ site.git_username }}/{{ site.git_repo}}">{{ site.git_repo }}</a> | 
{% include bitbucket.svg %} <a href="https://bitbucket.org/{{ site.git_username }}/{{ site.git_repo }}">BitBucket</a> | 
{% include gitlab.svg %} <a href="https://gitlab.com/{{ site.git_username }}/{{ site.git_repo }}">GitLab</a>
				</span>

				<p class="credits">
{% include twitter.svg %} <a href="https://twitter.com/{{ site.twitter_username }}">Octopus in vitro</a>
				</p>

			</div>
