<!DOCTYPE html>
<html lang="en">

{% include head.html %}

	<body>

		<div class="title">
			<h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
		</div>

		<div class="container">

{% include sidebar.html %}

			<div class="main">

{{ content }}

{% include footer.html %}

			</div>

		</div>

		<script src="{{ '/js/vendor/prism.js' | prepend: site.baseurl }}"></script>{% if page.mathjax %}
		<script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>{% endif %}
{% include stats.html %}

  </body>

</html>
